<!DOCTYPE html>
<html>
	<head>
  		<title>Bartender App</title>
	</head>
	<body>
		<div style="text-align:center;">
  			<h1 style="font-family:'Lucidia Handwriting', cursive, sans-
			serif;">
				Jamie's Cocktail Lounge</h1><br />
  			<a style="font-family:'Copperplate', fantasy, sans-serif; 
			color: #40826D;" href="/ordering/menu">
				Customer: View Menu & Place Order |</a>
  			<a style="font-family:'Copperplate', fantasy, sans-serif; 
			color: #8A9A5B;" href="/bartender/queue">
				 | Bartender: View Order Queue</a>
		</div>
	</body>
</html>